<h1>Name: <%= @employee.full_name %></h1>
<h2>Alias: <%= @employee.alias %></h2>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Dog: <%= @employee.dog.name %></h3>


